@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url(assets/images/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.container {
  width: 800px;
  max-width: 100%;
  border-radius: 5px;
  
}
.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



h1 {
  font-size: 2.8rem;
  color: #1d3365;
  text-align: center;
}

/* btn */
.btn {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  width: 12rem;
  text-align: center;
  margin-bottom: 1.5rem;
  text-decoration: none;
  color: #1d3365;
  background-color: rgb(255, 255, 255);
  border-radius: 15px 50px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

/* Ripple Out Button Effect*/
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  border-radius: 15px 50px
}
.hvr-ripple-out:before {
  content: "";
  position: absolute;
  border: #ffffff solid 6px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
 border-radius: 15px 50px
}
.hvr-ripple-out:hover:before,
.hvr-ripple-out:focus:before,
.hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}

/* Game.html*/

#question{
 font-size: 2rem;
 margin-bottom: 3rem;
 font-weight: 300;
 text-align: center;
 color: rgba(10, 27, 43, 0.815);
 width: 50rem;
 height: 10rem;
 margin-top: 2rem;
 
   
}

.choice-box {
  margin: auto;
  display: inline-block;
  margin-bottom: 0.5rem;
  width: 15%;
  font-size: 1.8rem;
  border: 0.1rem solid rgba(0, 29, 83, 0.25);
  background-color: rgb(243, 243, 243);
  margin-right: 30px;
  margin-left: 45px;
  border-radius: 15px 50px
}
.choice-text {
   padding: 0px 45px;
   
}

.choice-box:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(67, 77, 82, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 120ms;
  border-radius: 25px;
}

.incorrect{
    background-color:  rgba(224, 47, 47, 0.719);
     border-radius: 25px;
}

.correct{
    background-color:rgba(19, 255, 110, 0.589);
     border-radius: 25px;
}

.scoreboard {
    font-size: 2.6rem;
    margin-bottom: 100px;
    height: 50px;
    color: #1d3365;
    text-align: center;
}
/*end.html*/

form{
    width: 100;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.btn:focus{
outline: none
}


/*topscores.html*/
#highScoresList {
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin-bottom: 4rem;
}

.high-score {
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
  color: rgb(1, 0, 78);;
}

#highScores{
   text-align: center;
}


@media only screen and (max-width: 700px)
{
body {
/* Background image is centered vertically and horizontally at all times */
  background-position: center center;
    /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
}
#question{
 width: auto;
 margin-top: 2.5rem;
 margin-bottom: 2.5rem;
 padding-left: 10px;
 
}
.choice-box {
  
  margin-top: 5rem;
  margin-bottom: 5.5rem;
  width: 28%;
  font-size: 1.8rem;
  border-radius: 25px;
  }

  .choice-text{
    padding-left: 37px;
  }


}